
.body {
 
    margin: 0px auto;
    background-color: blanchedalmond;

}

/*.carousel-item{
    height: auto;
    
}*/

html{
    margin: 0;
}

.dropdown1{
    padding: 50px 0;
}

.carousel-ejemplo{
    height: 500px;
    width:1650px;
    justify-content: center;
    padding: 10px 300px;
    padding-left: 100px;

}
table{
    background-color: burlywood;
    margin: 0px auto;
    width: 800px;
    height: 250px;
    text-align: left;
}

nav{
    background-color: black;
    color: aliceblue;
    height: 50px;
    padding: 10px;
    text-align: justify;
}
.centro{
    text-align:start;
}
.input{
    width: 260px;
    height: 32px;
    text-align: left;
}
td{
    padding: 20px;
}
.clearfix{
    clear: both;
    display: block;
}
.link{
    color: darkgreen;
    text-decoration: none;
}