html{
    margin: 0 ;
}

.container0 {
 
    margin: 0px auto;
    background-color:white;

}
.footer1{
    background-color: black;
    color: aliceblue;
    padding: 15px;
    width: 100%;
    bottom: 0;
    left: 0;
}
.footer2{
    background-color: black;
    color: aliceblue;
    padding: 15px;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
}


.logo {
    padding: 20px;
}


.container-fluid  {
    justify-content: center;
    padding-top: 10px auto;
  

}
.carousel-caption {
    color: red;

}


.formulario {

    background-color: burlywood;
    margin: 0px auto;
    width: 0px auto;
    height: 0px auto;
    text-align: center;
    padding: 30px;
    display: block;
}

nav{
    background-color: black;
    color: aliceblue;
    height: 50px;
    padding: 10px;
    text-align: justify;
}
.centro_bloque{
    display: block;
    margin: 0px auto;
    
}
.centro_texto{
    text-align: center;
}
.input{
    width: 260px;
    height: 32px;
    text-align: left;
}
.texto_titulo{
    color: blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    display: block;
}

col-sm-2{
    width: 16px;
}
.link{
    color: darkgreen;
    text-decoration: none;
}



/** Css del html la fabula de Aracne**/

.container-fluid2 {
    margin: 0px auto;
    padding-left: 50px;
    border-color: blueviolet;
    
}

.container-fluid3 {
    margin: 0px auto;
    padding-left: 100px;
    padding-bottom: 100px;
    

}

.boton_enviar{
    width: 100px; 
    height: 35px;
}